<head></head>

<body>
  <img class="spiderman-pic" src="assets/images/spiderman-pic.png">

  <div class="header">
    <div class="left-section">
      <div class="home"><button class="home-icon">home</button></div>
    </div>

    <div class="middle-section">
      <div class="middle-section-menu">
        <p class="games"><button class="middle-section-button">Games</button></p>
        <p class="news"><button class="middle-section-button">News</button></p>
        <p class="store"><button class="middle-section-button">Store</button></p>
        <p class="services"><button class="middle-section-button">Services</button></p>
      </div>
    </div>

    <div class="right-section">
      <button class="login-button">Login</button> 
      <div class="search"><button class="search-icon">search</button></div>
      <div class="logout"><button class="logout-icon">logout</button></div>
    </div>

    
    
    <div class="spiderman-content">
      <div class="marvel-text">MARVEL</div>
        <div class="spiderman-text">SPIDER-MAN</div>
        <div class="farfromhome-text">FAR FROM HOME</div>
        <div class="spiderman-bio">Bitten by a radioactive spider, Peter Parker's
           arachnid abilities give him amazing powers he uses to help others,
            while his personal life continues to offer plenty of obstacles.
             With amazing spider-like abilities, teenage science whiz Peter
              Parker fights crime and dreams of becoming an Avenger as
               Spider-Man.</div>
    </div>

    <div class="game-content">
      <div class="review-text">GAME REVIEWS</div>
      <div class="rating1-icon">starsIGN</div>
      <div class="potential-text">-"Potential Game of year"</div>
      <div class="rating2-icon">star_halfGAME</div>
      <div class="playstation-text">-"PlayStation's Masterpiece"</div>
    </div>
  </div>
</body>